<div id="alert" class="alert bg-white alert-dismissible fade d-none mx-3" role="alert">
    <strong>Copied to Clipboard!</strong> You can try pasting it somewhere.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>