@inherits LayoutComponentBase

<div class="clipboard-wrapper">
    <div class="clipboard btn btn-outline-success rounded" id="@Id" @onclick="OnClicked">
        <span class="oi oi-clipboard mr-2" aria-hidden="true"></span>
        <strong>Copy</strong>
    </div>
</div>