@inherits LayoutComponentBase

<div class="alert alert-primary fade show mx-3" role="alert">
    <strong>
        <span class="oi oi-star mr-2" aria-hidden="true"></span>
        <span class="text-wrap">
            Any <code><mark>prs</mark></code>, <code><mark>issues</mark></code> and <code><mark>stars</mark></code> are welcome :)
            Checkout the 
            <a target="_blank" class="font-weight-bold" href="@GithubUrl"> source code </a>
            and use it in your projects loyalty free.
        </span>
        @* <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button> *@
    </strong>
</div>