@page "/"
@using settings2config.Components

<GithubPrompt/>

<div class="d-flex justify-content-around">
    <Dropdown Title="Font size" Items="Fontsizes" @ref="FontsizeDropdown"/>
    <Dropdown Title="Theme" Items="Themes" @ref="ThemesDropdown"/>
</div>

<div class="row m-0">
    <div class="col-lg-6 container d-flex justify-content-between align-items-end my-3">
        <span class="badge badge-light">appsettings.json</span>
        @* <Clipboard Id="settings-clipboard"/> *@
    </div>
    <div class="col-lg-6 container d-flex justify-content-between align-items-end my-3">
        <span class="badge badge-light">Azure config.</span>
        <Clipboard Id="config-clipboard" @ref="OutputClipboard"/>
    </div>
</div>

<div class="row m-0">
    <div class="col-lg-6 container editor-wrapper">
        <MonacoEditor Id="input-editor" OnDidPaste="OnPasted" @ref="InputEditor" ConstructionOptions="InputOptions" CssClass="h-75 border-0"/>
    </div>
    <div class="col-lg-6 container editor-wrapper">
        <MonacoEditor Id="output-editor" @ref="OutputEditor" ConstructionOptions="OutputOptions" CssClass="h-75 border-0"/>
    </div>
</div>